@font-face {
  font-family: "TTLakes";
  src: url("../font/TTLakes-Regular.ttf");
}

@font-face {
  font-family: "TTLakes bold";
  src: url("../font/TTLakes-Bold.ttf");
}

@font-face {
  font-family: "TTLakes medium";
  src: url("../font/TTLakes-Medium.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "TTLakes";
}

.wrapper {
  display: grid;
  grid-template-columns: 320px minmax(320px, 1120px);
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
}
.btn:last-child {
  margin-right: 0;
}
a {
  text-decoration: none;
  color: #1b1c21;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  font-family: "TTLakes medium";
}

button {
  background: transparent;
  border: none;
}

h1 {
  font-family: "TTLakes bold";
}

.btn {
  background: #ff3e79;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}

.icon {
  margin-top: 50%;
  transform: translateY(-50%);
}

.header {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content {
  margin-left: 20px;
}

.header-logo,
.header-links {
  display: flex;
  align-items: center;
}

.header-links .btn {
  margin-right: 16px;
}

.header-img {
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.header-img img {
  cursor: pointer;
}
.header-img::after {
  content: "";
  display: block;
  background: #eaeaea;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  margin-left: 16px;
}

.header-desktop {
  display: none;
  align-items: center;
}

.main {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-links {
  width: 100%;
  padding: 42px 0 24px 0;
}

.main-reviews {
  display: none;
}

.main-nav {
  display: none;
}

.main-links__title {
  font-size: clamp(1.25rem, 2.5vw, 2rem);
  display: flex;
  align-items: center;
}

.main-links__title::before {
  content: "";
  display: block;
  border-radius: 5px;
  width: 4px;
  height: 40px;
  background: #41f6d7;
  margin-right: 15px;
}

.main-list {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  margin-bottom: 24px;
  width: 100%;
}

.main-list__link {
  color: #7e7e82;
  white-space: nowrap;
  border-radius: 6px;
  padding: 6px 20px;
  margin: 2px;
}

.main-list__link:focus {
  outline: 2px solid #b8ffec;
  background: #fff;
}

.main-content__text {
  font-size: 14px;
  letter-spacing: 0.2px;
}

.main-content__text:first-child {
  margin-bottom: 25px;
}

.expand {
  display: flex;
  font-weight: 700;
  margin: 16px 0;
  cursor: pointer;
}

.expand img {
  margin-right: 8px;
}

.main-image img {
  width: 100%;
  margin-bottom: 24px;
}
.main-image {
  width: 45%;
}
.wh-768,
.wh-1120 {
  display: none;
}

.title {
  width: 100%;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
}
.title__text {
  margin: 16px 32px;
  color: #7e7e82;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  word-wrap: break-word;
}

.swiper {
  max-width: 768px;
  height: 110px;
  display: none;
}
.swiper-slide {
  width: 256px;
}
.swiper-pagination-bullet-active {
  background: #b5b6bc;
}

.brands {
  display: grid;
  grid-template-columns: repeat(4, minmax(224px, 240px));
  gap: 15px;
  justify-content: space-between;
  margin: 24px;
}
.brand__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 240px;
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 16px;
}
.show-more {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 8px;
  margin: 24px 0px 24px 24px;
}

.action-button {
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-company {
  width: 100%;
}
.swiper-slide {
  width: 35% !important;
}
.brand__text {
  width: 100%;
}
.swiper-pagination {
  width: auto;
}
.repair {
  flex-direction: column;
  align-items: flex-end;
  height: 160px;
}
.slider-device {
  width: 100%;
}
.mobile-brands-slider {
  height: 200px;
}
.height-slider {
  height: 200px;
}

.swiper-wrapper {
  justify-content: flex-start;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #D9FFF5;
}
.footer p {
  margin: 32px 0px 32px 32px;
  color: #7e7e82;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word;
}
.footer__public-offer br:nth-child(1) {
  display: none;
}
.footer__public-offer br:nth-child(2) {
  display: none;
}
.footer__public-offer br:nth-child(3) {
  display: block;
}
.footer__public-offer:first-child {
  margin-left: 32px;
}
.footer__public-offer:last-child {
  margin-right: 32px;
}
.footer__public-offer {
  width: 325px;
  text-align: end;
}
.price-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.price-list__item {
  display: grid;
  grid-template-columns: 360px minmax(90px, 180px) minmax(90px, 180px) 120px;
  grid-template-rows: 64px;
  align-items: center;
  background: #fff;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 0 14px;
  margin: 0 32px;
}
.price-list__item:not(:first-child,:last-child)::after{
  content: " ";
  height: 1px;
  background: #EAEAEA;
  width: 97%;
  left: 1.5%;
  top: 95%;
  position: absolute;
}
.price-list__item:first-child{
  background: none;
  margin-top: 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.price-list__item:last-child{

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.price-list__item p {
  color: #1b1c21;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  word-wrap: break-word;
}
.price-list__item:first-child p{
  color: #7E7E82;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word;
}
.impotant-information__img{
  position: relative;
  top: 2px;
  left: 8px;
}
.btn-price{
  display: flex;
  width: 120px;
  height: 32px;
  background: #FF3E79;
  border-radius: 16px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  word-wrap: break-word;
  align-items: center;
  justify-content: center; 
}
.impotant-information{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.impotant-information__text{
  margin: 32px 0 16px 32px;
  width: 421px;
  color: #1B1C21;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20px;
  word-wrap: break-word 
}
.impotant-information__link{
  width: 316px;
  margin: 0 0 50px 32px;
}
.slider-price{
  width: 100%;
}
.price{
    display: grid;
    grid-template-columns: repeat(3,  240px);
    grid-template-rows: 200px;
    gap: 15px;
    justify-content: space-between;
    margin: 24px;
}
.item-price p, .price-item__title p{
  margin-left: 16px;
}
.price-swiper-list,.price-swiper{
  height: 240px;
}
.price-item__title{
  padding-top: 1px;
}
.price-slider{
  height: 200px !important;
  width: 280px !important;
}
.price-item{
  width: 260px ;
  background: #fff;
  border-radius: 6px;
  height: 200px ;
}
.btn-slider-price{
  margin-right: 16px;
}
.item-price__title{
  margin-top: 16px;
  color: #7E7E82;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word 
}
.item-price{
  display: flex;
  align-items: flex-end;
    justify-content: space-between;

}

@media screen and (min-width: 1439px) {
  .header {
    display: none;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1439px) {
  .wrapper {
    grid-template-columns: minmax(320px, 1440px);
  }
  .nav-popup {
    display: none;
  }

}
@media screen and (max-width: 1120px) {
  .wrapper {
    grid-template-rows: 88px auto;
    justify-items: normal;
  }
  .container {
    padding: 0 16px;
  }
  .brand__item {
    min-width: 224px;
  }
}
@media screen and (min-width: 1120px) {

  .main {
    align-items: center;
  }

  .main-links {
    width: 1120px;
    display: flex;
    justify-content: space-between;
  }

  .link-btn {
    display: flex;
    align-items: center;
  }

  .link-btn:last-child {
    margin: 0px 30px;
  }

  .link-btn .btn {
    margin-left: 8px;
  }

  .main-reviews p {
    color: #7e7e82;
    font-size: 16px;
    font-family: "TTLakes";
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
    margin-left: 40px;
  }

  .wh-1120 {
    display: block;
  }

  .main-list {
    margin-bottom: 0px;
  }

  .main-section {
    width: 1120px;
  }

  .main-reviews {
    display: block;
    width: 1120px;
    margin: 10px 0px 20px 0px;
  }

  .main-list {
    width: 1120px;
    overflow-x: auto;
  }
}

@media screen and (max-width: 1020px) {
  .brands {
    grid-template-columns: repeat(3, minmax(224px, 320px));
    row-gap: 16px;
    justify-content: space-between;
    overflow: hidden;
  }
  .brand__item {
    width: 280px;
  }
}
@media screen and (max-width: 912px) {
  .brands {
    grid-template-columns: repeat(3, minmax(224px, 250px));
  }
  .brand__item {
    width: 250px;
  }
}
@media screen and (max-width: 880px) {
  .footer__public-offer {
    width: 212px;
  }
  .footer p br:nth-child(1) {
    display: block;
  }
  .footer p br:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .brands {
    grid-template-columns: repeat(3, minmax(224px, 240px));
  }
  .brand__item {
    width: 240px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
  .price-list{
    display: none;
  }
  .swiper {
    display: block;
  }
  .laptop-brands-slider {
    display: none;
  }
  .brands.high-resolution,
  .show-more {
    display: none;
  }
  .main-image{
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .header-img::after {
    display: none;
  }

  .small-resolution {
    display: none;
  }
  .mobile-brands-slider {
    display: none;
  }
  .main {
    align-items: flex-start;
  }

  .header-img::before {
    content: "";
    display: block;
    background: #eaeaea;
    width: 2px;
    height: 32px;

    border-radius: 1px;
    margin-right: 16px;
  }

  .header-desktop {
    display: flex;
  }

  .main-content {
    width: 50%;
  }

  .header-desktop:after {
    content: "";
    display: block;
    background: #eaeaea;
    width: 2px;
    height: 32px;

    border-radius: 1px;
    margin: 0 20px;
  }

  .main-section {
    display: flex;
    justify-content: space-between;
  }

  .block-info {
    width: 50%;
    margin-left: 20px;
  }

  .wh-768 {
    display: block;
  }
}
@media screen and (max-width: 560px) {
  .impotant-information__text{
    width: 288px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .footer p{
    margin: 0 0 16px 0;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .impotant-information__link{
    width: 192px;
  }
  .footer__public-offer:last-child {
    margin-right: 0;
  }
  .footer p{
    padding: 0 4px;
  }
}
@media screen and (max-width: 340px) {
  .header-img::after {
    display: none;
  }
}
